{
  "env" : {"es6" : true},
  "extends": ["next", "prettier"],
  "rules": {
    // "import/no-unused-modules": [1, {"unusedExports": true, "ignoreExports": ["./pages/**"]}],
      "@next/next/no-img-element": "off",
     "jsx-a11y/alt-text": "off",
     "react-hooks/rules-of-hooks": "error", // For checking rules of hooks
     "react-hooks/exhaustive-deps": "warn" // For checking hook dependencies 
  },
  "globals": {
    "Juspay": true,
    "HaptikSDK" : true,
    "cast" : true,
    "chrome" : true,
    "amplitude":true,
    "gtag":true,
    "webengage":true,
    "fbq":true
  }
}